<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic Recipes</title>
    <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    <script src="https://kit.fontawesome.com/ad5cc6e992.js" crossorigin="anonymous"></script>
</head>
<body background="{{ url_for('static', filename='images/bg.jpg') }}">
    <div class="main-title">
        <h1 align="center">Classic Recipes</h1>
    </div>
    <div class="sub-tabs">
        <h2><a href="{{ url_for('main_routes.index') }}">Home</a></h2>
        <h2><a href="{{ url_for('main_routes.classics') }}">Classic Recipes</a></h2>
        <h2><a href="{{ url_for('main_routes.desserts') }}">Desserts</a></h2>
    </div>

    <div class="content">
        <h3>Explore Classic Recipes</h3>
        <p>Here you will find a collection of timeless recipes that never go out of style.</p>
    </div>

    <div class="recipes">
        <div class="recipe-item">
            <img src="https://www.edamam.com/web-img/8f4/8f496a825ec140317b38235c828dcea9.jpg" alt="Classic Beef Meatballs">
            <div class="recipe-info">
                <h4>Classic Beef Meatballs</h4>
                <p>Calories: 149.18</p>
                <p>Time: 45 minutes</p>
                <p>Diet: Low-Carb</p>
                <a href="https://www.epicurious.com/recipes/food/views/classic-beef-meatballs-369151" target="_blank" class="view-btn">View Recipe</a>
            </div>
        </div>

        <div class="recipe-item">
            <img src="https://www.edamam.com/web-img/f7e/f7eaa9fb5569cdc31444309854e775f1" alt="Classic Margherita Pizza">
            <div class="recipe-info">
                <h4>Classic Margherita Pizza</h4>
                <p>Calories: 225.36</p>
                <p>Time: 20 minutes</p>
                <p>Diet: Vegetarian</p>
                <a href="https://www.marthastewart.com/1528964/classic-margherita-pizza" target="_blank" class="view-btn">View Recipe</a>
            </div>
        </div>

        <div class="recipe-item">
            <img src="https://www.edamam.com/web-img/7df/7df9c6d152779593d791424fa27e3c41.jpeg" alt="Classic Spaghetti">
            <div class="recipe-info">
                <h4>Classic Spaghetti</h4>
                <p>Calories: 513.48</p>
                <p>Time: 35 minutes</p>
                <p>Diet: High-Fiber</p>
                <a href="https://www.foodnetwork.com/recipes/johnsonville-classic-meatballs-and-spaghetti-3362199" target="_blank" class="view-btn">View Recipe</a>
            </div>
        </div>
    </div>
</body>
</html>
